<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dabal Ka Meetha Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Dabal Ka Meetha</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>6 slices of bread</li>
            <li>1 cup milk</li>
            <li>1 cup sugar</li>
            <li>1/2 cup ghee</li>
            <li>1/2 cup chopped nuts (cashews, almonds, pistachios)</li>
            <li>1/2 teaspoon cardamom powder</li>
            <li>1/4 cup raisins</li>
            <li>Saffron strands soaked in warm milk (optional)</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>sweet</li>
            <li>desert</li>
        </ol>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>Remove the crust from the bread slices and cut them into smaller pieces.</li>
            <li>In a pan, heat ghee and fry the bread pieces until they turn golden brown and crisp. Set aside.</li>
            <li>In the same pan, add sugar to the remaining ghee and melt it to make a caramel syrup.</li>
            <li>Once the sugar syrup reaches a golden color, add milk and stir well. Be cautious as it may splutter.</li>
            <li>Add the fried bread pieces, chopped nuts, cardamom powder, and raisins to the milk mixture. Mix thoroughly.</li>
            <li>If using saffron, add the soaked saffron strands along with the warm milk to enhance the flavor and color.</li>
            <li>Simmer the mixture on low heat until the bread pieces absorb the milk and the consistency thickens.</li>
            <li>Remove from heat and let it cool for a few minutes before serving.</li>
            <li>Enjoy the delightful Dabal Ka Meetha warm or chilled!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="dabal ka meeta">
        <input type="hidden" name="tags" value="sweet">
        <input type="hidden" name="tags" value="dessert">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
