<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jalebi Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Jalebi</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>1 cup all-purpose flour (maida)</li>
            <li>1 tablespoon gram flour (besan)</li>
            <li>1/2 cup yogurt</li>
            <li>1/4 teaspoon baking soda</li>
            <li>1 cup sugar</li>
            <li>1/2 cup water</li>
            <li>1/4 teaspoon saffron strands (optional)</li>
            <li>1/2 teaspoon cardamom powder</li>
            <li>Ghee or oil for frying</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>sweet</li>
            <li>indian</li>
        </ol>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>In a mixing bowl, combine all-purpose flour, gram flour, yogurt, and baking soda. Mix well to form a smooth batter. Let it ferment for 6-8 hours or overnight.</li>
            <li>In a saucepan, combine sugar and water to make a sugar syrup. Add saffron strands and cardamom powder. Bring it to a boil and simmer until it reaches a one-string consistency. Keep the syrup warm.</li>
            <li>Heat ghee or oil in a frying pan over medium heat. Pour the fermented batter into a squeeze bottle or a piping bag with a small hole.</li>
            <li>Squeeze spirals or concentric circles of batter into the hot ghee to form jalebis. Fry until they are golden brown and crisp. Drain excess oil and immediately dip them into the warm sugar syrup.</li>
            <li>Let the jalebis soak in the syrup for a few minutes, ensuring they are well coated. Remove from the syrup and serve warm.</li>
            <li>Enjoy the sweet and tangy Jalebis as a delightful dessert!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="jalebi">
        <input type="hidden" name="tags" value="sweet">
        <input type="hidden" name="tags" value="indian">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
