<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaju Katli Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Kaju Katli</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>1 cup cashews</li>
            <li>1/2 cup sugar</li>
            <li>1/4 cup water</li>
            <li>1 tablespoon ghee</li>
            <li>1/2 teaspoon cardamom powder</li>
            <li>Edible silver foil for garnish (optional)</li>
        </ul>
        <section>
            <h2>Tags</h2>
            <ol>
                <li>sweet</li>
                <li>dessert</li>
            </ol>
        </section>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>Grind cashews into a fine powder using a blender or food processor.</li>
            <li>In a non-stick pan, combine sugar and water. Cook over medium heat, stirring continuously, until the sugar dissolves and the syrup reaches a one-string consistency.</li>
            <li>Add the cashew powder to the sugar syrup and mix well to avoid lumps.</li>
            <li>Continue cooking on low heat, stirring constantly, until the mixture thickens and starts leaving the sides of the pan. Add ghee and cardamom powder, and mix thoroughly.</li>
            <li>Remove the mixture from heat and let it cool for a few minutes. Knead it into a smooth dough-like consistency while it's still warm.</li>
            <li>Roll out the cashew dough into a thin, even layer using a rolling pin. Cut it into diamond-shaped pieces.</li>
            <li>Garnish each piece with edible silver foil if desired.</li>
            <li>Allow the Kaju Katli to cool completely before serving.</li>
            <li>Enjoy the rich and nutty Kaju Katli!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="kaju katli">
        <input type="hidden" name="tags" value="sweet">
        <input type="hidden" name="tags" value="dessert">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
