<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kesari Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Kesari</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>1 cup semolina (rava/sooji)</li>
            <li>1 cup sugar</li>
            <li>1/2 cup ghee</li>
            <li>1/4 cup cashews, chopped</li>
            <li>1/4 cup raisins</li>
            <li>1/2 teaspoon cardamom powder</li>
            <li>A few strands of saffron soaked in warm milk (optional)</li>
            <li>2 1/2 cups water</li>
            <li>A pinch of orange food color (optional)</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>sweet</li>
            <li>dessert</li>
        </ol>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>In a pan, heat ghee and roast the cashews until they turn golden. Remove and set aside.</li>
            <li>In the same pan, add raisins and fry until they plump up. Remove and set aside.</li>
            <li>Add semolina to the pan and roast it over medium heat until it releases a nutty aroma and changes color slightly.</li>
            <li>Boil water separately. Slowly add the boiling water to the roasted semolina, stirring continuously to avoid lumps.</li>
            <li>Keep stirring to ensure the mixture is smooth and well combined.</li>
            <li>Add sugar, cardamom powder, and saffron-soaked milk. Mix well to combine.</li>
            <li>Continue cooking on low heat until the mixture thickens and the semolina is fully cooked. If using, add a pinch of orange food color for an appealing look.</li>
            <li>Add the roasted cashews and raisins. Mix well.</li>
            <li>Remove from heat and let it cool for a few minutes before serving.</li>
            <li>Serve the delicious Kesari warm or at room temperature!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="kesari">
        <input type="hidden" name="tags" value="sweet">
        <input type="hidden" name="tags" value="dessert">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
