<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motichur Loddu Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Motichur Laddu</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>1 cup gram flour (besan)</li>
            <li>1/4 cup ghee</li>
            <li>Oil for deep frying</li>
            <li>1 cup sugar</li>
            <li>1/2 cup water</li>
            <li>1/2 teaspoon cardamom powder</li>
            <li>2 tablespoons chopped nuts (almonds, cashews, pistachios)</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>sweet</li>
            <li>indian</li>
        </ol>
    </section>
    

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>In a mixing bowl, combine gram flour and ghee to make a smooth batter. Add water if needed to achieve the right consistency.</li>
            <li>Heat oil in a deep pan for frying. Using a perforated ladle or a slotted spoon, pour the batter through the holes into the hot oil to make tiny boondi. Fry until they are golden brown and crisp. Drain excess oil and set aside.</li>
            <li>In a separate saucepan, combine sugar and water to make a sugar syrup. Bring it to a boil and simmer until it reaches a one-string consistency. Add cardamom powder and mix well.</li>
            <li>Add the fried boondi to the sugar syrup and mix until they are well coated. Let it sit for a few minutes to absorb the syrup.</li>
            <li>Once the mixture is cool enough to handle, shape it into small round laddus. You may need to grease your hands with ghee to prevent sticking.</li>
            <li>Garnish the Motichur Laddus with chopped nuts.</li>
            <li>Allow them to cool completely before serving.</li>
            <li>Enjoy the delicious and festive Motichur Laddus!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="motichur loddu">
        <input type="hidden" name="tags" value="sweet">
        <input type="hidden" name="tags" value="indian">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
