<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mysore Pak Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Mysore Pak</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>1 cup besan (gram flour)</li>
            <li>1 cup ghee</li>
            <li>1 cup sugar</li>
            <li>1/4 cup water</li>
            <li>1/2 teaspoon cardamom powder</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>sweet</li>
            <li>indian</li>
        </ol>
    </section>
    

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>Grease a plate or tray with ghee and set aside.</li>
            <li>In a heavy-bottomed pan, heat ghee over low heat until it melts.</li>
            <li>Add besan to the melted ghee and roast on low heat, stirring continuously, until it releases a nutty aroma and changes color to a light golden brown. Be careful not to burn the besan.</li>
            <li>In a separate saucepan, combine sugar and water to make a sugar syrup. Bring it to a boil and simmer until it reaches a string consistency.</li>
            <li>Slowly add the sugar syrup to the roasted besan and ghee mixture, stirring continuously to avoid lumps.</li>
            <li>Continue cooking and stirring until the mixture thickens and leaves the sides of the pan. Add cardamom powder and mix well.</li>
            <li>Quickly transfer the mixture to the greased plate or tray and level it with a spatula.</li>
            <li>Allow it to cool for a few minutes, then cut it into squares or diamonds while it's still warm.</li>
            <li>Once completely cooled, remove the Mysore Pak pieces from the plate and serve.</li>
            <li>Enjoy the rich and melt-in-your-mouth Mysore Pak!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="mysore pak">
        <input type="hidden" name="tags" value="sweet">
        <input type="hidden" name="tags" value="indian">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
