<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rasgulla Sweet Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Rasgulla Sweet</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>2 cups milk</li>
            <li>1 tablespoon lemon juice or white vinegar</li>
            <li>1 cup sugar</li>
            <li>4 cups water</li>
            <li>1/2 teaspoon cardamom powder</li>
            <li>Chopped pistachios or saffron strands for garnish (optional)</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>sweet</li>
            <li>indian</li>
        </ol>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>Boil the milk in a heavy-bottomed pan. Once it boils, add lemon juice or vinegar to curdle the milk. Stir until the whey separates from the curd.</li>
            <li>Strain the curdled milk using a muslin cloth to obtain chenna (paneer). Rinse it under cold water to remove the lemon juice or vinegar taste.</li>
            <li>Knead the chenna well until it becomes smooth and free of lumps. Divide it into small portions and shape them into round balls.</li>
            <li>In a separate pot, mix sugar, water, and cardamom powder to make a sugar syrup. Bring it to a boil and then simmer for a few minutes.</li>
            <li>Add the chenna balls to the sugar syrup and cover the pot. Cook on medium heat for about 15-20 minutes until the Rasgullas are soft and spongy.</li>
            <li>Let the Rasgullas cool in the sugar syrup. Garnish with chopped pistachios or saffron strands if desired.</li>
            <li>Serve and enjoy the delicious Rasgulla Sweet!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="rasgulla">
        <input type="hidden" name="tags" value="sweet">
        <input type="hidden" name="tags" value="indian">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
