<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        body {
            background-image: url('about.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-color: beige;
        }

        h1,
        h2,
        h3 {
            color: white;
            font-style: italic;
        }

        p {
            color: white;
        }
    </style>
</head>

<body>
    <form action="/about" method="post"></form>
    <header>
        <br>
        <h1>Welcome to Online Recipe Book</h1>
    </header>

    <h2>Our Mission</h2>
    <br>
    <p> At Online Recipe Book, we are passionate about bringing people together through the <br>joy of cooking and sharing delicious meals. Our mission is to inspire and empower home <br>cooks of all levels to explore new recipes, embrace diverse culinary traditions, and create <br> unforgettable dining experiences.</p>
    <br>

    <h2> What Sets Us Apart</h2>
    <br>
    <h3>Culinary Diversity</h3>
    <p>
        We believe that the world is a rich tapestry of flavors and cuisines. Our recipe collection spans <br>across cultures, offering a diverse array of dishes to suit every taste and occasion. Whether <br> you're a seasoned chef or a kitchen novice, you'll find something exciting to try in our extensive <br>recipe catalog.
    </p>
    <br>
    <h3>Community-driven Platform</h3>
    <p>Online Recipe Book is more than just a collection of recipes; it's a community of food enthusiasts. <br> Join us in celebrating the joy of cooking by sharing your favorite recipes, tips, and kitchen <br>adventures. Connect with like-minded individuals, learn from each other, and build a network of <br> culinary creativity.</p>
    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>

</html>
