<!-- help.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Recipe Book Help</title>
</head>
<body>
  <form action="/help" method="post"></form>
  <h1>Recipe Book Help</h1>
  <p>If you need assistance, plea<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Help</title>
        <header>
        <style>
            body {
                background-image: url('help1.jpeg');
                background-size: cover; 
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-color: beige;
            }
        h1,h2,h3{
            color: white;
            font-style: italic;
            font-size: 30px ;
        }
        ol,ul,p{
            color: white;
        }
    </style>
        <h1>  Need Help?</h1>
        <h2>Welcome to Online Recipe Book Help center </h2>
    </header>
    <body>
        <form action="/help" method="post"></form>
        <h3>Searching for Recipes</h3>
        <ul>
            <li>Basic Search</li>
            <ul>
                <li>Enter keywords in the search bar to find recipes quickly.</li>
                <li>Use Quotation marks for precise searches(eg:"Vegan Tacos")</li>
            </ul>
        </ul>
    
        <h3>Contributing Your Own Recipes</h3>
        <ul>
            <li>Adding a Recipe</li>
            <ul>
                <li>Click on Add Your Recipe. </li>
                <li>Fill in the details and click on submit.</li>
                <li>Congrats!! you have succesfully added your website.</li>
            </ul>
        </ul>
    </body>
    
    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
    </body>
    </html>
    
