<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amritsari Fish Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee behavior="alternate";bgcolor="yellow";height="1000" >Amristari Fish</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>1 lb fish fillets (preferably white fish), cut into pieces</li>
            <li>1 cup gram flour (besan)</li>
            <li>2 tablespoons rice flour</li>
            <li>1 tablespoon ginger-garlic paste</li>
            <li>1 teaspoon red chili powder</li>
            <li>1/2 teaspoon turmeric powder</li>
            <li>1 teaspoon carom seeds (ajwain)</li>
            <li>1 teaspoon chaat masala</li>
            <li>Salt to taste</li>
            <li>Water for the batter</li>
            <li>Vegetable oil for deep frying</li>
            <li>Fresh coriander leaves for garnish</li>
            <li>Lemon wedges for serving</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>seafood</li>
            <li>indian</li>
        </ol>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>In a bowl, prepare a batter by mixing gram flour, rice flour, ginger-garlic paste, red chili powder, turmeric powder, carom seeds, chaat masala, and salt. Add water gradually to form a thick, smooth batter.</li>
            <li>Dip each fish fillet into the batter, ensuring it's well coated.</li>
            <li>Heat vegetable oil in a deep pan for frying.</li>
            <li>Deep fry the fish fillets until they are golden brown and crispy. Drain excess oil on paper towels.</li>
            <li>Sprinkle chaat masala and garnish with fresh coriander leaves.</li>
            <li>Serve hot with lemon wedges.</li>
            <li>Enjoy your flavorful Amritsari Fish!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="amritsari fish">
        <input type="hidden" name="tags" value="seafood">
        <input type="hidden" name="tags" value="indian">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
