<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fish Kofta Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee behavior="alternate" ;bgcolor="green" ;height="1000">Fish Kofta</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>1 lb fish fillets, finely minced</li>
            <li>1 cup potatoes, boiled and mashed</li>
            <li>1/2 cup onions, finely chopped</li>
            <li>2 tablespoons ginger-garlic paste</li>
            <li>1 teaspoon green chili, finely chopped</li>
            <li>1 teaspoon cumin powder</li>
            <li>1 teaspoon coriander powder</li>
            <li>1/2 teaspoon turmeric powder</li>
            <li>1/2 teaspoon garam masala</li>
            <li>1/4 cup cilantro, finely chopped</li>
            <li>1/4 cup breadcrumbs</li>
            <li>Salt to taste</li>
            <li>Vegetable oil for frying</li>
            <li>Fresh mint leaves for garnish</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>seafood</li>
            <li>indian</li>
        </ol>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>In a large bowl, combine minced fish, mashed potatoes, chopped onions, ginger-garlic paste, green chili, cumin powder, coriander powder, turmeric powder, garam masala, cilantro, breadcrumbs, and salt. Mix well to form a smooth mixture.</li>
            <li>Shape the mixture into small, round koftas.</li>
            <li>Heat vegetable oil in a pan for frying.</li>
            <li>Fry the fish koftas until golden brown and cooked through. Drain excess oil on paper towels.</li>
            <li>Garnish with fresh mint leaves.</li>
            <li>Serve hot with your favorite chutney or sauce.</li>
            <li>Enjoy your delicious Fish Kofta!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="fish kofta">
        <input type="hidden" name="tags" value="seafood">
        <input type="hidden" name="tags" value="indian">
        <button type="submit">Save Recipe</button>
      </form>


    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
