<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grilled Lemon Garlic Shrimp Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee behavior="alternate" ;bgcolor="yellow"; height="45">Grilled Lemon Garlic Shrimp</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>1 lb large shrimp, peeled and deveined</li>
            <li>3 cloves garlic, minced</li>
            <li>2 tablespoons olive oil</li>
            <li>1 tablespoon fresh lemon juice</li>
            <li>1 teaspoon lemon zest</li>
            <li>1 teaspoon paprika</li>
            <li>1/2 teaspoon dried oregano</li>
            <li>Salt and black pepper to taste</li>
            <li>Chopped fresh parsley for garnish</li>
            <li>Lemon wedges for serving</li>
        </ul>
    </section>
</section>
<section>
    <h2>Tags</h2>
    <ol>
        <li>nonveg</li>
        <li>seafood</li>
    </ol>
</section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>In a bowl, combine minced garlic, olive oil, lemon juice, lemon zest, paprika, dried oregano, salt, and black pepper. Mix well to create the marinade.</li>
            <li>Add the peeled and deveined shrimp to the marinade. Toss until the shrimp are evenly coated. Allow them to marinate for at least 15 minutes.</li>
            <li>Preheat the grill to medium-high heat.</li>
            <li>Thread the marinated shrimp onto skewers.</li>
            <li>Grill the shrimp for 2-3 minutes per side or until they are opaque and have grill marks.</li>
            <li>Remove the shrimp from the grill and place them on a serving platter.</li>
            <li>Garnish with chopped fresh parsley and serve with lemon wedges on the side.</li>
            <li>Enjoy your delicious Grilled Lemon Garlic Shrimp!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="gretled lemon garlic shrimp">
        <input type="hidden" name="tags" value="nonveg">
        <input type="hidden" name="tags" value="seafood">
        <button type="submit">Save Recipe</button>
      </form>

    

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
