<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miso-Glazed Salmon Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Miso-Glazed Salmon</marquee></h1>
    </header>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>seafood</li>
            <li>nonveg</li>
        </ol>
    </section>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>4 salmon fillets</li>
            <li>1/4 cup white miso paste</li>
            <li>3 tablespoons mirin</li>
            <li>2 tablespoons soy sauce</li>
            <li>1 tablespoon honey</li>
            <li>1 tablespoon rice vinegar</li>
            <li>1 teaspoon grated fresh ginger</li>
            <li>2 cloves garlic, minced</li>
            <li>Sesame seeds for garnish</li>
            <li>Sliced green onions for garnish</li>
            <li>Cooked brown rice for serving</li>
        </ul>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>Preheat the oven to 400°F (200°C).</li>
            <li>In a bowl, whisk together white miso paste, mirin, soy sauce, honey, rice vinegar, grated ginger, and minced garlic to create the miso glaze.</li>
            <li>Place the salmon fillets on a baking sheet lined with parchment paper.</li>
            <li>Brush the miso glaze over the salmon fillets, ensuring they are evenly coated.</li>
            <li>Bake in the preheated oven for 12-15 minutes or until the salmon is cooked through and flakes easily with a fork.</li>
            <li>Remove from the oven and garnish with sesame seeds and sliced green onions.</li>
            <li>Serve hot over cooked brown rice.</li>
            <li>Enjoy your delicious Miso-Glazed Salmon!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="miso glazed salmon ">
        <input type="hidden" name="tags" value="seafood">
        <input type="hidden" name="tags" value="non veg">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
