<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salmon Teriyaki Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="">Salmon Teriyaki</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>4 salmon fillets</li>
            <li>1/4 cup soy sauce</li>
            <li>2 tablespoons sake (Japanese rice wine)</li>
            <li>2 tablespoons mirin</li>
            <li>2 tablespoons brown sugar</li>
            <li>1 tablespoon vegetable oil</li>
            <li>1 teaspoon grated fresh ginger</li>
            <li>1 clove garlic, minced</li>
            <li>Sesame seeds for garnish</li>
            <li>Sliced green onions for garnish</li>
            <li>Cooked white rice for serving</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>vegetarian</li>
            <li>indian</li>
        </ol>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>In a small bowl, whisk together soy sauce, sake, mirin, and brown sugar to create the teriyaki sauce. Set aside.</li>
            <li>Heat vegetable oil in a skillet over medium-high heat.</li>
            <li>Place the salmon fillets in the skillet, skin side down. Cook for 3-4 minutes or until the skin is crispy.</li>
            <li>Flip the salmon fillets and add grated ginger and minced garlic to the skillet. Cook for an additional 2-3 minutes.</li>
            <li>Pour the teriyaki sauce over the salmon fillets. Allow it to simmer and coat the fillets for another 2-3 minutes or until the salmon is cooked through and glazed with the sauce.</li>
            <li>Remove from heat and transfer the salmon to a serving platter.</li>
            <li>Garnish with sesame seeds and sliced green onions.</li>
            <li>Serve hot over cooked white rice.</li>
            <li>Enjoy your flavorful Salmon Teriyaki!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="salmon teritak">
        <input type="hidden" name="tags" value="vegetarian">
        <input type="hidden" name="tags" value="indian">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
