<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thai Green Curry Shrimp Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Thai Green Curry Shrimp</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>1 lb large shrimp, peeled and deveined</li>
            <li>2 tablespoons green curry paste</li>
            <li>1 can (14 oz) coconut milk</li>
            <li>1 cup bamboo shoots, sliced</li>
            <li>1 cup bell peppers, sliced</li>
            <li>1 cup snap peas</li>
            <li>2 tablespoons fish sauce</li>
            <li>1 tablespoon brown sugar</li>
            <li>1 lime, juiced</li>
            <li>Fresh basil leaves for garnish</li>
            <li>Cooked jasmine rice for serving</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>nonveg</li>
            <li>seafood</li>
        </ol>
    </section>


    <section>
        <h2>Instructions</h2>
        <ol>
            <li>In a wok or large skillet, heat green curry paste over medium heat for 1-2 minutes until fragrant.</li>
            <li>Add coconut milk to the wok and stir until the curry paste is well combined.</li>
            <li>Bring the coconut milk to a simmer and add shrimp, bamboo shoots, bell peppers, and snap peas. Cook for 5-7 minutes or until the shrimp are opaque and cooked through.</li>
            <li>Stir in fish sauce, brown sugar, and lime juice. Adjust the seasoning to taste.</li>
            <li>Serve the Thai Green Curry Shrimp over cooked jasmine rice.</li>
            <li>Garnish with fresh basil leaves.</li>
            <li>Enjoy your flavorful Thai Green Curry Shrimp!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="thai green curry shrimp">
        <input type="hidden" name="tags" value="nonveg">
        <input type="hidden" name="tags" value="seafood">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
