<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butterscotch Ice Cream Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Butterscotch Ice Cream</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>2 cups heavy cream</li>
            <li>1 cup whole milk</li>
            <li>1 cup brown sugar</li>
            <li>1/2 cup unsalted butter</li>
            <li>1 teaspoon butterscotch extract</li>
            <li>1/2 cup butterscotch chips</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>icecreams</li>
            <li>indian</li>
        </ol>
    </section>


    <section>
        <h2>Instructions</h2>
        <ol>
            <li>In a saucepan over medium heat, melt the butter. Add brown sugar and stir until the sugar dissolves and the mixture turns into a smooth butterscotch sauce.</li>
            <li>Allow the butterscotch sauce to cool to room temperature.</li>
            <li>In a mixing bowl, combine heavy cream, whole milk, butterscotch extract, and the cooled butterscotch sauce. Mix well.</li>
            <li>Transfer the mixture to an ice cream maker and churn according to the manufacturer's instructions.</li>
            <li>In the last few minutes of churning, add butterscotch chips to the ice cream maker to incorporate them into the mixture.</li>
            <li>Transfer the churned butterscotch ice cream to a lidded container and freeze for at least 4 hours or until firm.</li>
            <li>Scoop and enjoy the rich and creamy Butterscotch Ice Cream!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="butterscotch">
        <input type="hidden" name="tags" value="icecreams">
        <input type="hidden" name="tags" value="indian">
        <button type="submit">Save Recipe</button>
      </form>


    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
