<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookies and Cream Ice Cream Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Cookies and Cream Ice Cream</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>2 cups heavy cream</li>
            <li>1 cup whole milk</li>
            <li>3/4 cup granulated sugar</li>
            <li>1 teaspoon vanilla extract</li>
            <li>1 cup crushed chocolate sandwich cookies</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>ice cream</li>
            <li>desert</li>
        </ol>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>In a mixing bowl, combine heavy cream, whole milk, granulated sugar, and vanilla extract. Mix well until the sugar dissolves.</li>
            <li>Chill the mixture in the refrigerator for at least 2 hours or until it is thoroughly chilled.</li>
            <li>Transfer the chilled mixture to an ice cream maker and churn according to the manufacturer's instructions.</li>
            <li>In the last few minutes of churning, add crushed chocolate sandwich cookies to the ice cream maker to incorporate them into the mixture.</li>
            <li>Once churned, transfer the cookies and cream ice cream to a lidded container and freeze for at least 4 hours or until firm.</li>
            <li>Scoop and enjoy the delightful Cookies and Cream Ice Cream!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="cookies cream">
        <input type="hidden" name="tags" value="icecream">
        <input type="hidden" name="tags" value="dessert">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
