<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aloo Gobi Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Aloo Gobi</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>2 cups cauliflower florets</li>
            <li>2 medium-sized potatoes, peeled and cubed</li>
            <li>1 large onion, finely chopped</li>
            <li>2 tomatoes, chopped</li>
            <li>1/2 cup green peas</li>
            <li>2 tablespoons vegetable oil</li>
            <li>1 teaspoon cumin seeds</li>
            <li>1 teaspoon ginger-garlic paste</li>
            <li>1/2 teaspoon turmeric powder</li>
            <li>1 teaspoon cumin powder</li>
            <li>1 teaspoon coriander powder</li>
            <li>1/2 teaspoon red chili powder</li>
            <li>1/2 teaspoon garam masala</li>
            <li>Salt to taste</li>
            <li>Fresh coriander leaves for garnish</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>vegetarian</li>
            <li>indian1</li>
        </ol>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>Heat vegetable oil in a pan over medium heat.</li>
            <li>Add cumin seeds and let them splutter.</li>
            <li>Add finely chopped onions and sauté until golden brown.</li>
            <li>Add ginger-garlic paste and sauté until the raw smell disappears.</li>
            <li>Add chopped tomatoes and cook until they are soft and the oil starts to separate.</li>
            <li>Add turmeric powder, cumin powder, coriander powder, red chili powder, and salt. Mix well.</li>
            <li>Add cauliflower florets, cubed potatoes, and green peas. Mix to coat the vegetables with the masala.</li>
            <li>Cover and cook until the vegetables are tender, stirring occasionally.</li>
            <li>Sprinkle garam masala and garnish with fresh coriander leaves.</li>
            <li>Serve hot with roti or rice.</li>
            <li>Enjoy your delicious Aloo Gobi!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="aloo gobi">
        <input type="hidden" name="tags" value="">
        <input type="hidden" name="tags" value="indian">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
