<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aloo Paratha Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Aloo Paratha</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>2 cups whole wheat flour</li>
            <li>Water (as needed)</li>
            <li>1 cup mashed potatoes</li>
            <li>1 teaspoon cumin seeds</li>
            <li>1 teaspoon red chili powder</li>
            <li>1/2 teaspoon turmeric powder</li>
            <li>1 teaspoon garam masala</li>
            <li>Salt to taste</li>
            <li>Butter or ghee for cooking</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>vegetarian</li>
            <li>indian1</li>
        </ol>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>In a bowl, combine whole wheat flour and water to make a soft dough. Cover and let it rest for 30 minutes.</li>
            <li>In another bowl, mix mashed potatoes with cumin seeds, red chili powder, turmeric powder, garam masala, and salt.</li>
            <li>Divide the dough into equal portions and roll each portion into a small ball.</li>
            <li>Roll out a ball into a small disc, place a portion of the potato mixture in the center, and seal the edges to form a stuffed ball.</li>
            <li>Roll out the stuffed ball into a flat disc, ensuring the stuffing is evenly spread.</li>
            <li>Heat a griddle or pan over medium heat. Cook the paratha on both sides, applying butter or ghee, until golden brown spots appear.</li>
            <li>Repeat the process for the remaining dough portions.</li>
            <li>Serve hot with yogurt, pickles, or your favorite condiments.</li>
            <li>Enjoy your delicious Aloo Paratha!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="aloo paratha">
        <input type="hidden" name="tags" value="vegitarian">
        <input type="hidden" name="tags" value="indian">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
