<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palak Paneer Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Palak Paneer</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>1 bunch fresh spinach, washed</li>
            <li>200g paneer, cubed</li>
            <li>1 large onion, finely chopped</li>
            <li>2 tomatoes, chopped</li>
            <li>1/2 cup cashews, soaked</li>
            <li>2 tablespoons ghee or butter</li>
            <li>1 teaspoon cumin seeds</li>
            <li>1 teaspoon ginger-garlic paste</li>
            <li>1 teaspoon ground coriander</li>
            <li>1 teaspoon ground cumin</li>
            <li>1/2 teaspoon turmeric powder</li>
            <li>1/2 teaspoon red chili powder</li>
            <li>1/2 teaspoon garam masala</li>
            <li>Salt to taste</li>
            <li>Fresh cream for garnish</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>vegetarian</li>
            <li>nonveg</li>
        </ol>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>Blanch the spinach in hot water for 2 minutes, then plunge into cold water. Blend into a smooth puree.</li>
            <li>In a pan, heat ghee or butter over medium heat.</li>
            <li>Add cumin seeds and let them splutter.</li>
            <li>Add finely chopped onions and sauté until golden brown.</li>
            <li>Add ginger-garlic paste and sauté until the raw smell disappears.</li>
            <li>Add chopped tomatoes and cook until they are soft and the oil starts to separate.</li>
            <li>Add ground coriander, ground cumin, turmeric powder, red chili powder, and salt. Mix well.</li>
            <li>Add cashews and sauté for 2 minutes.</li>
            <li>Add the spinach puree and cook for 5-7 minutes, allowing the flavors to meld.</li>
            <li>Add paneer cubes and garam masala. Simmer for an additional 5 minutes.</li>
            <li>Garnish with fresh cream.</li>
            <li>Serve hot with naan or rice.</li>
            <li>Enjoy your creamy and delicious Palak Paneer!</li>
        </ol>
    </section>    
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="palak paneer">
        <input type="hidden" name="tags" value="vegetarian">
        <input type="hidden" name="tags" value="indian">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
