<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sambhar Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Sambhar</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>1 cup toor dal</li>
            <li>1 cup mixed vegetables (drumsticks, pumpkin, carrots, beans), chopped</li>
            <li>1 large onion, chopped</li>
            <li>2 tomatoes, chopped</li>
            <li>1/4 cup tamarind pulp</li>
            <li>1/2 cup Sambhar powder</li>
            <li>1/2 teaspoon turmeric powder</li>
            <li>1 teaspoon mustard seeds</li>
            <li>1 teaspoon cumin seeds</li>
            <li>2 tablespoons vegetable oil</li>
            <li>1/4 teaspoon asafoetida (hing)</li>
            <li>Curry leaves</li>
            <li>2-3 dried red chilies</li>
            <li>Salt to taste</li>
            <li>Fresh coriander leaves for garnish</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>vegetarian</li>
            <li>indian</li>
        </ol>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>Cook toor dal until soft and mash it well.</li>
            <li>In a large pot, combine the cooked dal, mixed vegetables, chopped onion, chopped tomatoes, tamarind pulp, Sambhar powder, and turmeric powder. Add enough water to cover the vegetables.</li>
            <li>Bring the mixture to a boil and let it simmer until the vegetables are tender.</li>
            <li>In a separate pan, heat vegetable oil over medium heat.</li>
            <li>Add mustard seeds and cumin seeds. Let them splutter.</li>
            <li>Add asafoetida, curry leaves, and dried red chilies. Sauté for a minute.</li>
            <li>Add this tempering to the boiling Sambhar mixture. Mix well.</li>
            <li>Season with salt and let the Sambhar simmer for an additional 10-15 minutes to allow the flavors to meld.</li>
            <li>Garnish with fresh coriander leaves.</li>
            <li>Serve hot with rice or idli.</li>
            <li>Enjoy your flavorful and tangy Sambhar!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="sambhar">
        <input type="hidden" name="tags" value="vegetarian">
        <input type="hidden" name="tags" value="indian">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
