<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khichdi Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Khichdi</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>1 cup rice</li>
            <li>1/2 cup split yellow lentils (moong dal)</li>
            <li>1 large onion, finely chopped</li>
            <li>1 large tomato, chopped</li>
            <li>1/4 cup peas</li>
            <li>1/4 cup carrots, finely chopped</li>
            <li>1/2 teaspoon cumin seeds</li>
            <li>1/2 teaspoon mustard seeds</li>
            <li>1/2 teaspoon turmeric powder</li>
            <li>1/2 teaspoon garam masala</li>
            <li>1 bay leaf</li>
            <li>2-3 cloves</li>
            <li>2-3 green cardamom pods</li>
            <li>2 tablespoons ghee or vegetable oil</li>
            <li>Salt to taste</li>
            <li>Fresh coriander leaves for garnish</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>indian</li>
            <li>rice</li>
        </ol>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>Rinse the rice and lentils under cold water until the water runs clear. Soak them together in water for 30 minutes, then drain.</li>
            <li>In a large pot, heat ghee or vegetable oil over medium heat. Add cumin seeds, mustard seeds, bay leaf, cloves, and green cardamom pods. Sauté for a minute until the seeds splutter.</li>
            <li>Add chopped onions and cook until golden brown.</li>
            <li>Add tomatoes, peas, and carrots. Cook until the tomatoes are soft.</li>
            <li>Add turmeric powder and garam masala. Mix well.</li>
            <li>Add soaked and drained rice and lentils. Stir well to coat them with the masala.</li>
            <li>Pour in water, add salt, and bring the mixture to a boil. Reduce the heat to low, cover, and simmer for 20-25 minutes or until the khichdi is cooked and has a porridge-like consistency.</li>
            <li>Remove the pot from heat and let it sit, covered, for 5 minutes. Fluff the khichdi with a fork.</li>
            <li>Garnish with fresh coriander leaves.</li>
            <li>Serve hot as a comforting Khichdi.</li>
            <li>Enjoy your nutritious and delicious Khichdi!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="khichdi">
        <input type="hidden" name="tags" value="indian">
        <input type="hidden" name="tags" value="rice">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
