<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulihora Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee height="45">Pulihora</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>2 cups cooked rice</li>
            <li>1/2 cup tamarind pulp</li>
            <li>1/4 cup peanuts</li>
            <li>2 tablespoons sesame oil</li>
            <li>1 teaspoon mustard seeds</li>
            <li>1 teaspoon chana dal (split chickpeas)</li>
            <li>1 teaspoon urad dal</li>
            <li>1/2 teaspoon fenugreek seeds</li>
            <li>1/2 teaspoon turmeric powder</li>
            <li>1/2 teaspoon asafoetida (hing)</li>
            <li>2-3 dried red chilies</li>
            <li>Curry leaves</li>
            <li>Salt to taste</li>
            <li>Fresh coriander leaves for garnish</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>vegetarian</li>
            <li>indian</li>
        </ol>
    </section>
    

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>In a pan, heat sesame oil over medium heat.</li>
            <li>Add mustard seeds, chana dal, urad dal, fenugreek seeds, dried red chilies, and curry leaves. Sauté until the seeds splutter and dals turn golden brown.</li>
            <li>Add peanuts and sauté until they are lightly roasted.</li>
            <li>Reduce the heat to low, add turmeric powder, and asafoetida. Mix well.</li>
            <li>Add tamarind pulp to the pan. Cook until the mixture thickens and the oil starts to separate.</li>
            <li>Add cooked rice and salt. Mix gently to coat the rice with the tamarind mixture. Ensure even mixing.</li>
            <li>Remove from heat and let it cool slightly.</li>
            <li>Garnish with fresh coriander leaves.</li>
            <li>Serve at room temperature or slightly warm as delicious Pulihora.</li>
            <li>Enjoy your tangy and flavorful Pulihora!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="pulihora">
        <input type="hidden" name="tags" value="vegetarian">
        <input type="hidden" name="tags" value="indian">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
