<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butter Chicken Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee behavior="alternate" ;bgcolor="yellow"; height="45">Butter Chicken</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>500g boneless chicken, cut into pieces</li>
            <li>1 cup plain yogurt</li>
            <li>1/2 cup unsalted butter</li>
            <li>1 cup tomato puree</li>
            <li>1 tablespoon ginger-garlic paste</li>
            <li>1 teaspoon garam masala</li>
            <li>1 teaspoon chili powder</li>
            <li>1 teaspoon turmeric powder</li>
            <li>1 teaspoon cumin powder</li>
            <li>1 cup heavy cream</li>
            <li>Salt to taste</li>
            <li>Fresh cilantro leaves for garnish</li>
            <li>Naan or rice for serving</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>chicken and meat</li>
            <li>indian</li>
        </ol>
    </section>


    <section>
        <h2>Instructions</h2>
        <ol>
            <li>Marinate the chicken pieces in yogurt, ginger-garlic paste, garam masala, chili powder, turmeric powder, and salt. Let it marinate for at least 2 hours.</li>
            <li>In a large pan, melt butter and add the marinated chicken. Cook until the chicken is browned on all sides.</li>
            <li>Add tomato puree and cook until the oil separates from the masala.</li>
            <li>Stir in cumin powder and pour in the heavy cream. Simmer until the chicken is cooked through and the sauce thickens.</li>
            <li>Garnish with fresh cilantro leaves.</li>
            <li>Serve hot with naan or rice.</li>
            <li>Enjoy your delicious Butter Chicken!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="butter chicken">
        <input type="hidden" name="tags" value="chicken and meat">
        <input type="hidden" name="tags" value="indian">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
