<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicken Korma Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css">
</head>
<body>
    <header>
        <h1><marquee behavior="alternate" ;bgcolor="yellow" ;height="1000">Chicken Korma</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>500g boneless chicken, cut into pieces</li>
            <li>1 cup plain yogurt</li>
            <li>1/2 cup cashews, soaked in water</li>
            <li>2 tablespoons ghee or vegetable oil</li>
            <li>1 large onion, finely chopped</li>
            <li>1 tablespoon ginger-garlic paste</li>
            <li>1 teaspoon ground coriander</li>
            <li>1 teaspoon ground cumin</li>
            <li>1/2 teaspoon turmeric powder</li>
            <li>1/2 teaspoon chili powder</li>
            <li>1/2 teaspoon garam masala</li>
            <li>1 cup coconut milk</li>
            <li>Salt to taste</li>
            <li>Fresh cilantro leaves for garnish</li>
        </ul>
    </section>
    <section>
        <h2>Tags</h2>
        <ol>
            <li>chicken and meat</li>
            <li>indian</li>
        </ol>
    </section>


    <section>
        <h2>Instructions</h2>
        <ol>
            <li>In a blender, combine yogurt and soaked cashews. Blend until smooth to form a creamy mixture.</li>
            <li>In a large pan, heat ghee or vegetable oil. Add chopped onions and sauté until golden brown.</li>
            <li>Add ginger-garlic paste and sauté for a minute until the raw smell disappears.</li>
            <li>Add ground coriander, ground cumin, turmeric powder, chili powder, and garam masala. Cook for a couple of minutes to release the flavors.</li>
            <li>Add the boneless chicken pieces and cook until they are browned on all sides.</li>
            <li>Pour in the blended yogurt and cashew mixture. Stir well to coat the chicken.</li>
            <li>Add coconut milk and salt. Simmer on low heat until the chicken is cooked through and the sauce thickens.</li>
            <li>Garnish with fresh cilantro leaves.</li>
            <li>Serve hot with rice or naan.</li>
            <li>Enjoy your delicious Chicken Korma!</li>
        </ol>
    </section>
    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="chicken korma">
        <input type="hidden" name="tags" value="chicken and meat">
        <input type="hidden" name="tags" value="indian">
        <button type="submit">Save Recipe</button>
      </form>


    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
