<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aloo Paratha Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css"> 
</head>
<body>
    <header>
        <h1><marquee behavior="alternate";bgcolor="yellow";height="1000" >Aloo Paratha</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>2 cups whole wheat flour</li>
            <li>1 cup boiled and mashed potatoes</li>
            <li>1 small onion, finely chopped</li>
            <li>1 green chili, finely chopped</li>
            <li>1 teaspoon grated ginger</li>
            <li>1/2 teaspoon cumin seeds</li>
            <li>1/2 teaspoon turmeric powder</li>
            <li>1/2 teaspoon red chili powder (adjust to taste)</li>
            <li>1 tablespoon chopped fresh coriander</li>
            <li>Salt to taste</li>
            <li>Ghee or oil for cooking</li>
        </ul>
    </section>

    <section>
        <h2> Tags</h2>
        <ol>
            <li>aloo</li>
            <li>indian</li>
        </ol>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>In a mixing bowl, combine whole wheat flour and a pinch of salt. Gradually add water and knead into a soft dough. Cover and let it rest for 15-20 minutes.</li>
            <li>In a separate bowl, mix together boiled and mashed potatoes, chopped onion, green chili, grated ginger, cumin seeds, turmeric powder, red chili powder, chopped coriander, and salt to taste.</li>
            <li>Divide the dough and potato mixture into equal portions.</li>
            <li>Roll out a portion of the dough into a small disc. Place a portion of the potato mixture in the center and seal the edges to form a stuffed ball.</li>
            <li>Flatten the stuffed ball and roll it out into a paratha of your desired thickness.</li>
            <li>Heat a griddle or pan over medium heat. Cook the aloo paratha on both sides, applying ghee or oil until golden brown and cooked through.</li>
            <li>Repeat the process for the remaining dough and potato mixture.</li>
            <li>Serve hot aloo parathas with yogurt, pickles, or your favorite chutney.</li>
        </ol>
    </section>

    <form action="/save-recipe" method="POST">
        <input type="hidden" name="title" value="aloo paratha">
        <input type="hidden" name="tags" value="aloo">
        <input type="hidden" name="tags" value="indian">
        <input type="hidden" name="tags" value="breakfast">
        <button type="submit">Save Recipe</button>
      </form>

    <footer>
        <p>&copy; 2023 Online Recipe Book. All rights reserved.</p>
    </footer>
</body>
</html>
