<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pancakes Recipe</title>
    <link rel="stylesheet" href="/recipestyle.css"> 
</head>
<body>
    <header>
        <h1><marquee behavior="alternate";bgcolor="yellow";height="1000" >Pancakes</marquee></h1>
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <li>1 cup all-purpose flour</li>
            <li>2 tablespoons sugar</li>
            <li>1 teaspoon baking powder</li>
            <li>1/2 teaspoon baking soda</li>
            <li>1/4 teaspoon salt</li>
            <li>3/4 cup buttermilk</li>
            <li>1/4 cup milk</li>
            <li>1 large egg</li>
            <li>2 tablespoons unsalted butter, melted</li>
            <li>1 teaspoon vanilla extract</li>
            <li>Butter or oil for cooking</li>
            <li>Maple syrup and toppings of your choice</li>
        </ul>
    </section>

    <section>
        <h2> Tags</h2>
        <ol>
            <li>breakfast</li>
        </ol>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>In a large bowl, whisk together flour, sugar, baking powder, baking soda, and salt.</li>
            <li>In another bowl, whisk together buttermilk, milk, egg, melted butter, and vanilla extract.</li>
            <li>Pour the wet ingredients int





                <form action="/save-recipe" method="POST">
                    <input type="hidden" name="title" value="Pancakes">
                    <input type="hidden" name="tags" value="Breakfast">
                    <button type="submit">Save Recipe</button>
                  </form>